<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minhas Finanças</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        #content {
            min-height: 100px;
        }

        .ui.grid {
            padding: 0 !important;
        }

        .pushable.segment {
            margin: 0 !important;
        }
    </style>
</head>

<body>  
    
    {{{body}}}

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/semantic.min.js"></script>
    <script src="/assets/js/financas.js"></script>
    
</body>

</html>