{{> menu}}
<div id="content" class="ui segment">
    <div class="ui secondary menu">
        <div class="left menu">
            <h1 class="ui header">
                <i class="home icon"></i>{{viewTitle}}
            </h1>
        </div>
        <div class="right menu">

        </div>
    </div>

    <div class="ui three stackable cards">
        <div class="ui raised red centered card">
            <div class="center aligned">
                <h1>
                    <p><span id="vencidas">{{this.informacoes}}</span></p>
                </h1>
            </div>
            <div class="content">
                <a href="javascript:carregaPagina('/contas/historico');" class="center aligned header">Vencidas</a>
            </div>
        </div>

        <div class="ui raised green centered card">
            <div class="center aligned">
                <h1>
                    <p><span id="vence_semana">0</span></p>
                </h1>
            </div>
            <div class="content">
                <a class="center aligned header">Vencem nesta semana</a>
            </div>
        </div>

        <div class="ui raised teal centered card">
            <div class="center aligned">
                <h1>
                    <p><span id="gastos">0,00</span></p>
                </h1>
            </div>
            <div class="content">
                <a class="center aligned header">Gastos este mês</a>
            </div>
        </div>

    </div>
    <div class="ui floating message" style="margin-top: 3%; text-align: center">
        <p>{{user.name}}, fique a vontade para adicionar todos os seus gastos.
            Caso adicione algo por engano, basta ir em <a href="javascript:carregaPagina('/contas/historico');">histórico</a> e apagar. Fácil né?!
        </p>
    </div>
</div>

{{> modalNovaConta}}

